.banner,
.number-ga,
.monthly-ga,
.branch,
.factcheck,
.review,
.partners,
.popularity-viedeo,
.acvertisement,
.find-ga,
.benefits,
.question,
body {
  width: 100%;
}

/** header **/

/** banner **/

.shortcuts {
  width: 100px;
  height: 35px;
  font-size: 14px;
}
.shortcuts i {
  margin-bottom: -2px;
}

/** number-ga **/

.number-ga__title span {
  font-size: 24px;
}
.number-ga__title p {
  font-size: 30px;
}
.number-ga-explain span:first-child {
  font-size: 19px;
  font-weight: 800;
}
.number-ga-explain span:last-child {
  font-size: 34px;
  font-weight: 800;
}
.number-ga-standard {
  font-size: 12px;
  right: 5px;
}

/** monthly-ga **/

.monthly-ga {
  width: 100%;
  padding: 80px 0;
}
.monthly-ga__title {
  width: 95%;
  font-size: 20px;
}
.monthly-ga__container {
  width: 100%;
  justify-content: center;
}
.monthly-ga__content {
  width: 40%;
  margin: 12px;
}

/** branch **/

.branch {
  background-size: cover;
}
.branch__container {
  width: 100%;
}
.branch__column:first-child {
  justify-content: flex-end;
}
.branch__title p {
  font-size: 29px;
  padding-right: 20px;
}
.branch__explain p {
  font-size: 16px;
}

/** factcheck**/

.factcheck {
  background-size: cover;
}
.factcheck__container {
  width: 95%;
}
.factcheck__title {
  width: auto;
  font-size: 29px;
}
.factcheck__explain {
  font-size: 16px;
}

/** review **/

.review__title {
  width: 100%;
  font-size: 32px;
}
.review-score__container {
  width: 55%;
  padding-top: 50px;
}
.review-score__icon i,
.review-score__subtitle {
  font-size: 20px;
}

.review-score__standard {
  font-size: 12px;
}
.review-comment__container {
  width: 95%;
}
.review-comment__container .slidelist > li > div img {
  width: 75%;
}

/**partners**/

.partners__title {
  width: 95%;
  font-size: 20px;
}

.partners-logo__container {
  width: 100%;
  padding: 0;
}

/** popularity-video **/

.popularity-video {
  width: 100%;
}
.popularity-video__title {
  width: 95%;
}
.popularity-video__container {
  width: 98%;
}
.popularity-video__content img {
  width: 220px;
  height: 130px;
}

/** find-ga **/

.find-ga {
  width: 80%;
}
.find-ga__title {
  font-size: 34px;
}
.find-ga__btn {
  width: 100px;
  height: 15px;
  font-size: 14px;
}
.find-ga__btn i {
  padding-left: 5px;
  margin-bottom: -1px;
}
.find-ga-local__column {
  font-size: 16px;
  padding-top: 30px;
}

/** benefits **/

.benefits__container {
  width: 100%;
}
.benefits__title {
  font-size: 30px;
}
.benefits__explain {
  font-size: 16px;
}

/** question **/

.question {
  width: 80%;
}
.question__maintitle {
  font-size: 36px;
}
.question__subtitle {
  font-size: 14px;
}
.question__img {
  display: none;
}
.question__application {
  width: 100%;
}
.application__name,
.application__phone,
.application__content,
.submit {
  margin: 5px 0;
}
input,
textarea {
  height: 40px;
}
textarea {
  height: 60px;
}
.application__name label,
.application__phone label,
.application__content label {
  font-size: 14px;
}
.submit {
  width: 30%;
}
#submit {
  font-size: 14px;
}

/**advertisement**/

.ad-section .ad-slidelist .ad-left {
  font-size: 20px;
}
.ad-section .ad-slidelist .ad-right {
  font-size: 20px;
}
.ad-section .ad-slidelist > li > a img {
  width: 80%;
}
