.banner,
.number-ga,
.monthly-ga,
.branch,
.factcheck,
.review,
.partners,
.popularity-viedeo,
.acvertisement,
.find-ga,
.benefits,
.question,
body {
  width: 100%;
}

/** header **/
.head-logo {
  width: 30%;
  padding-left: 10px;
}
.head-logo img {
  width: 110px;
  height: 25px;
}
.header-menu {
  font-size: 10px;
  width: 30%;
}
.header-menu a {
  height: 10px;
}

/** banner **/
.banner {
  height: 220px;
}

.shortcuts {
  width: 70px;
  height: 25px;
  font-size: 8px;
  font-weight: normal;
  bottom: 15%;
}
.shortcuts i {
  padding-left: 2px;
  margin: 0;
}

/** number-ga **/

.number-ga {
  padding: 60px 0 80px 0;
}

.number-ga__title span {
  font-size: 12px;
}
.number-ga__title p {
  font-size: 16px;
}
.number-ga__title strong {
  font-size: 100%;
}
.number-ga-explain span:first-child {
  font-size: 10px;
  font-weight: 800;
}
.number-ga-explain span:last-child {
  font-size: 20px;
  font-weight: 800;
}
.number-ga-standard {
  font-size: 8px;
  right: 5px;
}

/** monthly-ga **/

.monthly-ga {
  width: 100%;
  padding: 40px 0;
}
.monthly-ga__title {
  width: 92%;
  font-size: 16px;
}
.monthly-ga__container {
  width: 100%;
  justify-content: center;
}
.monthly-ga__content {
  margin: 12px;
  width: 95%;
}

/** branch **/

.branch {
  background-image: url("https://github.com/kimdongzzi/gogoGA-image/blob/master/branch-mobile.jpg?raw=true");
  height: 500px;
}
.branch__container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.branch__column {
  width: 50%;
  padding: 0;
}
.branch__column:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0;
}
.branch__column:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 530%;
  padding: 0;
  height: 100%;
}
.branch__title {
  line-height: 150%;
}
.branch__title strong {
  font-size: 110%;
}
.branch__title p {
  font-size: 16px;
  padding: 0;
}
.branch__explain p {
  font-size: 13px;
  line-height: 400%;
}

/** factcheck**/

.factcheck {
  background-image: url("https://github.com/kimdongzzi/gogoGA-image/blob/master/factcheck-mobile.jpg?raw=true");
  height: 500px;
}
.factcheck__container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.factcheck__column:first-child {
  display: none;
}
.factcheck__column {
  width: 100%;
  height: 100%;
}
.factcheck__title {
  font-size: 16px;
}
.factcheck__explain {
  font-size: 13px;
  line-height: 300%;
  text-align: center;
}

/** review **/

.review {
  padding: 40px 0;
  height: 360px;
}
.review__title {
  font-size: 20px;
}
.review-score__container {
  width: 60%;
  padding-top: 40px;
}
.review-score__icon i,
.review-score__subtitle {
  font-size: 11px;
}
.review-score__standard {
  font-size: 8px;
  padding: 30px 0;
}
.review-comment__container {
  width: 100%;
}

.review-comment__container .left,
.review-comment__container .right {
  font-size: 12px;
}
.review-comment__container .slidelist > li > div img {
  width: 65%;
}

/**partners**/

.partners {
  padding: 80px 0 40px 0;
}
.partners__title {
  width: 90%;
  font-size: 16px;
}
.partners-logo__container {
  width: 80%;
}
.partners-logo__container a {
  width: 120px;
  height: 120px;
}

/** popularity-video **/
.popularity-video {
  padding: 40px 0;
}
.popularity-video__title {
  width: 92%;
  font-size: 16px;
}
.popularity-video__container {
  width: 100%;
  justify-content: center;
}
.popularity-video__content {
  padding: 8px;
}
.popularity-video__content img {
  width: 170px;
  height: 95px;
}
.popularity-video__content p {
  font-size: 11px;
}

/**advertisement**/

.ad-section .ad-slidelist .ad-left {
  font-size: 10px;
}
.ad-section .ad-slidelist .ad-right {
  font-size: 10px;
}
.ad-section .ad-slidelist > li > a img {
  width: 82%;
  padding: 0 20px;
}

/** find-ga **/

.find-ga {
  width: 100%;
  padding: 40px 0 80px 0;
}
.find-ga__title {
  font-size: 24px;
  padding: 15px 0;
}
.find-ga__container {
  width: 100%;
  flex-direction: column;
}
.find-ga__column {
  width: 100%;
}
.find-ga__column:first-child {
  width: 90%;
}
.find-ga__btn {
  width: 70px;
  height: 10px;
  font-size: 10px;
}
.find-ga-local {
  width: 100%;
}
.find-ga-local__column {
  width: 90%;
  padding-top: 25px;
  font-size: 13px;
}
.find-ga__column:last-child {
  width: 100%;
}

/** benefits **/

.benefits {
  background-image: url("https://github.com/kimdongzzi/gogoGA-image/blob/master/branch-mobile.jpg?raw=true");
  height: 500px;
  background-size: cover;
}
.benefits__container {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.3);
}
.benefits__column:first-child {
  display: none;
}
.benefits__column:last-child {
  width: 100%;
  padding-left: 60px;
}
.benefits__title {
  font-size: 16px;
}
.benefits__explain {
  font-size: 11px;
}
.benefits__column {
  height: 100%;
}

/** question **/

.question {
  width: 90%;
  padding: 40px 0;
}
.application__name,
.application__phone,
.application__content,
.submit {
  margin: 2px 0;
}
.question__img {
  display: none;
}
.question__maintitle {
  font-size: 22px;
}
.question__subtitle {
  padding: 20px 0;
  font-size: 10px;
}
.question__application {
  width: 90%;
  padding: 40px 20px;
}
.application__name label,
.application__phone label,
.application__content label {
  font-size: 8px;
}
.application__name,
.application__phone,
.application__content {
  width: 100%;
}
#submit {
  font-size: 12px;
}
