@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  display: block;
}

/** header **/

header {
  width: 100%;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-logo {
  width: 70%;
  padding-left: 24px;
}
.head-logo img {
  width: 130px;
  height: 40px;
}
.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  width: 70%;
}
.header-menu a {
  width: 100px;
  height: 24px;
}

/** banner **/

.banner {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-position: 50%;
  display: flex;
  justify-content: center;
}
.banner img {
  width: 100%;
  box-sizing: border-box;
}
.shortcuts {
  width: 150px;
  height: 50px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  position: absolute;
  bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee2843;
  border-radius: 18px;
}
.shortcuts i {
  padding-left: 10px;
  margin-bottom: -1px;
}

/** number-ga **/

.number-ga {
  width: 1100px;
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-ga__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  font-weight: 600;
  padding-left: 5%;
}
.number-ga__title span {
  font-size: 28px;
  padding: 25px 0;
}
.number-ga__title p {
  font-size: 38px;
  line-height: 140%;
}
.number-ga__title strong {
  font-size: 120%;
  font-weight: 800;
}
.number-ga__title strong:last-child {
  color: #ee2742;
}
.number-ga-explain__container {
  position: relative;
  justify-content: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.number-ga__column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.number-ga-explain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
.number-ga-explain span:first-child {
  font-size: 25px;
  font-weight: 800;
}
.number-ga-explain span:last-child {
  font-size: 42px;
  font-weight: 800;
}
.bar {
  width: 50%;
  height: 1px;
  margin: 10px 0;
  background-color: #7f7f7f;
}
.number-ga-standard {
  position: absolute;
  color: #9f9f9f;
  right: 0;
  bottom: -10%;
  font-size: 18px;
  font-weight: 600;
}

/** monthly-ga **/

.monthly-ga {
  width: 1080px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.monthly-ga__title {
  width: 100%;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 700;
}
.monthly-ga__title > strong {
  font-size: 120%;
}
.monthly-ga__container {
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.monthly-ga__content {
  position: relative;
  width: 298px;
  height: 140px;
  margin: 25px 12px 0 12px;
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid rgb(0, 0, 0, 0.3);
  border-radius: 3px;
}
.popularity__icon {
  position: absolute;
  top: 5px;
  left: -1.5px;
}
.popularity__icon img {
  width: 85px;
  height: 25px;
}
.face__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0.5px solid gray;
}
.face__img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.monthly-ga__explain {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 500;
  line-height: 18px;
}

.monthly-ga__explain > span:first-child {
  font-size: 15px;
  font-weight: 700;
  color: #3951d0;
  letter-spacing: 0.5px;
}
.headquarters {
  font-size: 14px;
  margin: 5px 0;
}
.hashtag a {
  font-size: 13px;
  line-height: 12px;
  color: #0022d4;
}
.monthly-ga__local {
  width: 30%;
  position: absolute;
  right: -10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.monthly-ga__local > span,
.monthly-ga__local > i {
  color: #8c8c8c;
  font-size: 12px;
}

/** branch **/

.branch {
  background-image: url("https://github.com/kimdongzzi/gogoGA-image/blob/master/benefit.jpg?raw=true");
  background-position: 50%;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.branch span,
.branch p {
  color: white;
}
.branch__container {
  width: 1100px;
  height: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.branch__column {
  width: 50%;
  height: 900px;
}
.branch__column:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.branch__title {
  width: 100%;
  padding: 100px 0;
  font-weight: 600;
  line-height: 340%;
}
.branch__title p {
  font-size: 44px;
}
.branch__title strong {
  font-size: 120%;
}
.branch__column:last-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  line-height: 530%;
  padding-left: 80px;
}
.branch__explain p {
  font-size: 22px;
}

/** factcheck**/

.factcheck {
  background-image: url("https://github.com/kimdongzzi/gogoGA-image/blob/master/factcheck1.jpg?raw=true");
  background-position: 50%;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.factcheck__container {
  width: 1100px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.factcheck__column {
  width: 50%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.factcheck__title {
  color: white;
  font-size: 44px;
  font-weight: 700;
  padding: 30px 0;
}
.factcheck__explain {
  color: white;
  font-size: 22px;
  line-height: 350%;
  font-weight: 500;
}

/** review **/

.review {
  background-color: #ffe9ad;
  width: 100%;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review__title {
  text-align: center;
  width: 1100px;
  font-size: 40px;
  font-weight: 800;
  line-height: 150%;
}
.review__title strong {
  font-size: 120%;
  color: #ee2742;
}
.review-score__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  padding-top: 80px;
}
.review-score__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-score__icon i {
  font-size: 25px;
  color: #fbb03b;
}
.review-score__subtitle {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
}
.review-score__standard {
  font-size: 16px;
  font-weight: 500;
  padding: 50px 0;
  color: #6f6f6f;
}
/**
.review-comment__container {
  width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-btn i {
  font-size: 30px;
}
.review-comment__column {
  background-color: #fff;
  width: 270px;
  height: 125px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: -2px 2px 1em #fed76c;
}

.content-score {
  align-self: flex-start;
  margin-bottom: 20px;
}
.content-score i {
  font-size: 28px;
}
.review-comment__content {
  width: 100%;
  font-size: 19px;
  font-weight: 450;
  line-height: 120%;
}
.review-comment {
  width: 70%;
  padding: 20px;
}
.review-comment img {
  width: 100%;
}
**/
.review-comment__container input[id*="slide"] {
  display: none;
}
.review-comment__container .slidewrap {
  max-width: 950px;
  margin: 0 auto;
  overflow: hidden;
}
.review-comment__container .slidelist {
  white-space: nowrap;
  font-size: 0;
  position: relative;
}
.review-comment__container .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.6s;
}
.review-comment__container .slidelist > li > div {
  display: block;
}
.review-comment__container .slidelist > li > div img {
  width: 750px;
  padding: 0 100px;
}
.review-comment__container .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}
.review-comment__container .left {
  left: 0px;
  font-size: 30px;
}
.review-comment__container .right {
  right: 0px;
  font-size: 30px;
}
.review-comment__container .slide-control [class*="control"] {
  display: none;
}
.review-comment__container [id="slide01"]:checked ~ .slidewrap .control01 {
  display: block;
}
.review-comment__container [id="slide02"]:checked ~ .slidewrap .control02 {
  display: block;
}
.review-comment__container [id="slide03"]:checked ~ .slidewrap .control03 {
  display: block;
}

/**------------------------**/

.review-comment__container [id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.review-comment__container [id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.review-comment__container [id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

/**partners**/

.partners {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.partners__title {
  width: 1080px;
  font-size: 22px;
  font-weight: 700;
  justify-content: flex-start;
}
.partners__title > strong {
  font-size: 120%;
}
.partners-logo__container {
  width: 1069px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.partners-logo__container a {
  filter: grayscale(100%);
  width: 200px;
  height: 200px;
  padding: 15px;
}
.partners-logo__container > a > img {
  width: 100%;
}
.partners-logo__container > a:hover {
  filter: none;
}

/** popularity-video **/

.popularity-video {
  width: 1080px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.popularity-video__title {
  width: 100%;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 700;
}
.popularity-video__title strong {
  font-size: 120%;
}
.popularity-video__container {
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.popularity-video__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
}
.popularity-video__content img {
  width: 240px;
  height: 137px;
}
.popularity-video__content p {
  font-size: 16px;
  padding: 5px 0;
  width: 100%;
}

/** find-ga **/

.find-ga {
  width: 1080px;
  padding: 120px 0 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.find-ga__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find-ga__column:first-child {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.find-ga__column:last-child {
  width: 40%;
}
.find-ga__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  padding: 25px 0;
}
.find-ga__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 20px;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: 500;
  font-size: 19px;
}
.find-ga__btn i {
  padding-left: 10px;
}
.find-ga-local {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.find-ga-local__column {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-top: 40px;
  font-weight: 500;
}
.find-ga__img {
  width: 45%;
}
.find-ga__img img {
  width: 100%;
}

/** benefits **/

.benefits {
  background-image: url("https://github.com/kimdongzzi/gogoGA-image/blob/master/benefit.jpg?raw=true");
  background-position: 50%;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits__container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits__column {
  width: 50%;
  height: 900px;
}
.benefits__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefits__column p {
  color: white;
  padding: 25px 0;
  line-height: 130%;
}
.benefits__title {
  width: 100%;
  font-size: 44px;
  font-weight: 600;
}
.benefits__explain {
  width: 100%;
  font-size: 22px;
  line-height: 350%;
  font-weight: 500;
}

/** question **/

.question {
  width: 1100px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question__maintitle {
  font-size: 44px;
  font-weight: 600;
}
.question__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  padding: 40px 0;
  text-align: center;
}
.question__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.question__img {
  width: 100%;
}
.question__img img {
  width: 100%;
  border-radius: 10px;
}
.question__application {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: -0.2em 0.3em 8px rgb(0, 0, 0, 0.2);
}
.application__name label,
.application__phone label,
.application__content label {
  font-size: 15px;
  font-weight: 600;
}
.application__name,
.application__phone,
.application__content,
.submit {
  width: 60%;
  margin: 20px 0;
}

input,
textarea {
  width: 90%;
  height: 60px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 0 5%;
  box-shadow: -1px 1px 2px rgb(0, 0, 0, 0.2);
  border: 1px solid rgb(0, 0, 0, 0.4);
}
textarea {
  resize: none;
  height: 100px;
}
.submit {
  background-color: #fff;
  width: 35%;
}
input::placeholder,
textarea::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 3%;
}

input:focus {
  border: 2px solid black;
}
#submit {
  font-family: "Noto Sans KR", sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 18px;
}
